In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./corona_virus.csv',header=0,encoding="latin-1")

df.head()

,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,"10,66,27,427",NaN,"11,59,824",NaN,"10,45,49,551",NaN,"9,18,052","1,368","3,18,476","3,464","1,17,68,34,935","35,14,983","33,48,05,269"
1,India,"4,49,39,515",NaN,"5,31,508",NaN,"4,43,56,693",NaN,"51,314",NaN,"31,948",378,"92,64,96,579","6,58,663","1,40,66,31,776"
2,France,"3,99,80,570",NaN,"1,66,556",NaN,"3,96,77,000",NaN,"1,37,014",869,"6,09,604","2,540","27,14,90,188","41,39,547","6,55,84,518"
3,Germany,"3,84,03,667",NaN,"1,73,044",NaN,"3,81,92,900",600,"37,723",NaN,"4,57,821","2,063","12,23,32,384","14,58,359","8,38,83,596"
4,Brazil,"3,74,49,418",NaN,"7,01,494",NaN,"3,62,49,161",NaN,"4,98,763",NaN,"1,73,897","3,257","6,37,76,166","2,96,146","21,53,53,593"

In [6]:
# identify missing values
missing_values = df.isnull()

# fill missing values with the mean
# Fill missing values with the mean
df.fillna(df.mean(numeric_only=True), inplace=True)

In [5]:
# Remove all duplicates from data

df.drop_duplicates(keep="first",inplace=True)

In [10]:
# Remove outliers using the z-score method

z_scores = (df - df.mean(numeric_only=True)) / df.std()
df = df[(z_scores.abs() < 3).all(axis=1)]

In [11]:
# Normalize the data using min-max normalization
df = (df - df.min()) / (df.max() - df.min())

In [ ]:
# Write the cleaned data to a new CSV file
df.to_csv('corona_virus_cleaned_data.csv', index=False)